<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
   {{>navbar}}
   <!--Main Header-->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!--left side div-->
                <div class="col-md-10 col-12 main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="images/error404.jpg" alt="thapa" class="img-fluid" title="Shivam Saini">
                    </figure>

                    <p>The Page you are trying to access not found.</p>
                    <h1>{{errorMsg}}</h1>
                    <a href="/"><button>Go back</button></a>
                </div>
                <!--right side div-->
                
            </div>
        </div>
    </div>
</div>        

<!--footer code -->

<footer>
    <p>Created With ♥ By Shivam Saini</p>
</footer>
</body>
</html>