<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
   {{>navbar}}
   <!--Main Header-->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!--left side div-->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/about.png" alt="thapa" class="img-fluid" title="Shivam Saini">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to my profile page.</p>
                    <h1>I am a MERN stack Developer</h1>
                    <a href="/About"><button>About Me</button></a>
                </div>
                <!--right side div-->
                
            </div>
        </div>
    </div>
</div>        

<!--footer code -->

<footer>
    <p>Created With ♥ By Shivam Saini</p>
</footer>
</body>
</html>